/* Resetting Properties */
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1.5em;
    color: #777;
    line-height: 1.3;
}

/* header styles */
header {
    text-align: center;
    margin-top: 25vh;
    font-family: 'Poiret One', cursive;
    color: #e85b30;
}
header span {
    color: #9c4fc9;
}
header h2 {
    font-family: 'Abel', sans-serif;
}
section {
    margin-top: 15vh;
    margin-left: 15vw;
    position: absolute;
}
.icon {
    color: #9c4fc9;
    font-size: 2.5em;
}
section h3 {
    color: #e85b30;
    font-size: 1.2em;
    font-family: 'Abel', sans-serif;
    margin-top: 2vh;
}
.design {
    margin-left: 35vw;
}
.development .icon {
    margin-left: 3.5vw;
}
.design .icon {
    margin-left: 2vw;
}
.photography {
    margin-left: 55vw;
}
.photography .icon {
    margin-left: 2vw;
}
.graphic {
    margin-left: 75vw;
}
.graphic .icon {
    margin-left: 3vw;
}