// CSS Reset
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
}

// Colours
$orange: #E75125;
$purple: #6B2C90;
$white: #fff;
$faded-box: rgba(0,0,0,0.3);
$social-icons: rgba(255,255,255,0.6);
$less-faded-box: rgba(0,0,0,0.8);

// Screen Widths
$bp-phone: 479px;
$bp-tab: 767px;
$bp-desk: 1500px;


// fonts
@font-face {
    font-family: 'ABeeZee';
    src: url(../../fonts/ABeeZee-Regular.otf);
}
@font-face {
    font-family: 'Playtime';
    src: url(../../fonts/playtime.ttf);
}
@font-face {
    font-family: 'PlaytimeOblique';
    src: url(../../fonts/PlaytimeOblique.ttf);
}
@font-face {
    font-family: 'Playtime3D';
    src: url(../../fonts/PlaytimeWithHotToddies3D.ttf);
}
@font-face {
    font-family: 'ArchisticoBold';
    src: url(../../fonts/Archistico_Bold.ttf);
}


// social buttons
.social {
    position: fixed;
    z-index: 100;
    margin-top: 15vh;
    width: 9vw;
    height: 2vh;
    padding: 20px; 
    padding-left: 5px;
    padding-right: 15px;
    left: -7vw;
    background-color: $faded-box;
    transition: left 1s;
    margin-bottom: 30px;
    
    a {
        text-decoration: none;
    }
    
    p {
        color: $white;
        font-size: 2em;
        display: inline;
        margin-right: 10%;
        font-family: 'Playtime';
    }
    span {
        color: $social-icons;
        font-size: 2.5em;
        display: inline;
        margin-left: 20px;
    }
    
    &:hover {
        left: 0;
    }
    @media screen and (max-width: $bp-tab) {
        left: 0;
        margin-top: 8vh;
        display: inline-block;
        width: 25vw;
        text-align: center;
        padding: 0;
        p {
            display: none;
        }
        span {
            color: $white;
            margin-left: 0px;
            font-size: 2em;
        }
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        left: 0;
        bottom: 0;
        margin-bottom: 0;
        text-align: center;
        width: 25vw;
        p {
            display: none;
        }
        span {
            color: $white;
            margin-left: 0px;
            font-size: 2.5em;
        }
    }
}

.linkdIn {
    @extend .social;
    padding-bottom: 28px;
    padding-top: 10px;
    p {
        margin-right: 12%;
    }
    &:hover {
        span {
            color: #0976B4;
        }
    }
    @media screen and (max-width: $bp-tab) {
        background-color: #0976B4;
        &:hover {
            span {
                color: $white;
            }
        }
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        background-color: #0976B4;
        &:hover {
            span {
                color: $white;
            }
        }
    }
}

.git {
    @extend .social;
    margin-top: 22vh;
    padding-bottom: 28px;
    padding-top: 10px;
    p {
        margin-right: 21%;
    }
    
    &:hover {
        span {
            color: purple;
        }
    }
    @media screen and (max-width: $bp-tab) {
        background-color: purple;
        margin-top: 8vh;
        left: 25vw;
        &:hover {
            left: 25vw;
            span {
                color: $white;
            }
        }
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        background-color: purple;
        left: 25vw;
        &:hover {
            left: 25vw;
            span {
                color: $white;
            }
        }
    }
}

.flickr {
    @extend .social;
    margin-top: 29vh;
    padding-bottom: 28px;
    padding-top: 10px;
    p {
        margin-right: 30%;
    }
    &:hover {
        span {
            color: #FF0085;
        }
    }
    @media screen and (max-width: $bp-tab) {
        background-color: #FF0085;
        margin-top: 8vh;
        left: 50vw;
        &:hover {
            left: 50vw;
            span {
                color: $white;
            }
        }
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        background-color: #FF0085;
        left: 50vw;
        &:hover {
            left: 50vw;
            span {
                color: $white;
            }
        }
    }
}

.twitter {
    @extend .social;
    margin-top: 36vh;
    padding-bottom: 30px;
    padding-top: 10px;
    p {
        margin-right: 17%;
    }
    &:hover {
        span {
            color: #55ACEE;
        }
    }
    @media screen and (max-width: $bp-tab) {
        background-color: #55ACEE;
        margin-top: 8vh;
        left: 75vw;
        padding-bottom: 28px;
        width: 27vw;
        &:hover {
            left: 75vw;
            span {
                color: $white;
            }
        }
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        background-color: #55ACEE;
        left: 75vw;
        &:hover {
            left: 75vw;
            span {
                color: $white;
            }
        }
    }
}

// layout styles
.orangeBg {
    width: 100vw;
    height: 75vh;
    background-color: $orange;
    padding-top: 30vh;
    display: block;
}
.portOrangeBg {
    width: 100vw;
    height: 100%;
    background-color: $orange;
    display: block;
    padding-bottom: 30vh;
    @media screen and (max-width: $bp-tab){
        padding-top: 10vh;
        padding-bottom: 10vh;
        width: 105vw;
    }
}
.purpleBg {
    width: 100vw;
    height: 95vh;
    display: block;
    background-color: $purple;
}
.workBox {
    background-color: $faded-box;
    width: 20vw;
    height: 50vh;
    border-radius: 8%;
    display: inline-block;
    cursor: pointer;
    margin-top: 10vh;
    h1 {
        color: $white;
        font-family: 'Playtime';
        font-size: 2.5em;
        text-align: center;
        padding-top: 5vh;
    }
    img {
        width: 100%;
        margin-left: 1%;
        margin-top: 3%;
    }
    p {
        color: $white;
        font-family: 'ABeeZee';
        text-align: center;
        font-size: 1.5em;
        padding: 7%;
    }
    &:hover {
        background-color: $less-faded-box;
        transition: 0.5s;
    }
    @media screen and (max-width: $bp-tab){
        display: block;
        width: 86vw;
        height: 70vh;
        margin-top: 10vh;
        &:hover {
            background-color: $faded-box;
            transition: 0s;
        }
    }
    @media screen and (max-width: 350px) {
        height: 80vh;
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        width: 37vw;
        margin-top: 5vh;
        height: 70vh;
    }
}
.em2 {
    @extend .workBox;
    margin-left: 13vw;
    @media screen and (max-width: $bp-tab) {
        margin-left: 8vw;
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        margin-left: 6vw;
    }
}
.airbrows {
    @extend .workBox;
    margin-left: 2vw;
    img {
        width: 50%;
        margin-left: 23%;
    }
    @media screen and (max-width: $bp-tab) {
        margin-left: 8vw;
        margin-top: 10vw;
    }
}
.acme {
    @extend .workBox;
    margin-left: 2vw;
    img {
        width: 102%; 
    }
    @media screen and (max-width: $bp-tab) {
        margin-left: 8vw;
        margin-top: 10vw;
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        margin-left: 6vw;
    }
}
.scope {
    @extend .workBox;
    margin-left: 13vw;
    img {
        width: 110%;
    }
    @media screen and (max-width: $bp-tab) {
        margin-left: 8vw;
        margin-top: 10vw;
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        margin-left: 2vw;
    }
}
.typoArt {
    @extend .workBox;
    margin-left: 2vw;
    img {
        width: 44%;
        margin-left: 30%;
    }
    @media screen and (max-width: $bp-tab) {
        margin-left: 8vw;
        margin-top: 10vw;
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        margin-left: 6vw;
    }
}
.portTitle {
    background-color: $white;
    width: 8%;
    height: 100%;
    float: right;
    position: fixed;
    display: inline-block;
    right: 0px;
    p {
        font-family: 'ArchisticoBold';
        font-size: 6.7em;
        text-align: center;
        margin-right: 20%;
        color: $purple;
    }
    @media screen and (max-width: $bp-tab) {
        float: none;
        width: 105vw;
        height: 8vh;
        left: 0;
        text-align: center;
        p {
            display: inline;
            font-size: 3em;
            margin-right: 0%;
        }
    }
    @media screen and (max-width: 350px) {
        p {
            font-size: 2.5em;
        }
    }
    @media screen and (max-width: $bp-desk) and (min-width: $bp-tab) {
        width: 11%;
    }
}
#emDesc, #airDesc, #acmeDesc, #scopeDesc, #typoDesc {
    display: none;
}